<div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>