
<div class="container">
  <div class="row">
    <div class="col-sm-3">
        
        <div class="profilePic">
            <img src="/images/placeholderr.png">
        </div>
        <div class="profileInfo">
            <h3 class="welcomeMssg"> Welcome, Sarah!</h3>
        </div>

          <a href="dashboard/newPost" class="d-flex justify-content-center text-decoration-none my-2">
            <buttontype="button" class="btn btn-primary">Create New Post</button>
          </a>

          <a href="dashboard/roster" class="d-flex justify-content-center text-decoration-none my-2">
            <button type="button" class="btn btn-primary"> View My Neighbors</button>
          </a>

          <a href="dashboard/household" class="d-flex justify-content-center text-decoration-none my-2">
            <button type="button" class="btn btn-primary"> View My Profile</button>
          </a>
  
    </div>

    <div class="col-sm-9">
      <h3 class="postTitle">CURRENT POSTS</h3>
          {{#each posts as |post|}}
            <div class="posts2">
                <h5 id="smallTitle">{{post.title}}</h5>
                <p>
                    {{post.content}}
                    <br><br>
                    {{format_date post.created_at}}
                </p>
             </div>  
          {{/each}}


    </div>
  </div>
</div>
