{{!-- homepage html --}}
{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.role_id}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}}

{{!-- maria's drafted handlebar homepage container --}}
<div class="container d-grid gap-3 mb-5">

  <div class="row justify-content-center">
    <div class="col-3">
      <img src="./assets/images/logo.png" alt="" srcset="">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-7">
      <h1>Connect with your Neighbors</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-3">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted on DATE by USER</h6>
          <h6 class="card-subtitle mb-2 text-muted">Neighborhood: Rolling Hills</h6>
          <p class="card-text">Snippet of maybe the first 25 words of a post</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class=" col-3 align-self-start">
      <a href="/browse"><button type="button" class="btn btn-primary">Browse Neighborhoods</button></a>
    </div>
  </div>

</div>