<div class="container my-5" >
        <div class="row justify-content-center mb-4">
            <div class=" col-xl-7 col-lg-9 col-md-11 col-12 header">
                <h2 style="margin-top: 30px; text-align:center; color:#175c4a"> Create Neighborhood Admin Account</h2>
            </div>
        </div>
        <form class="row justify-content-center admin-form" id="">
            <div class="col-xl-6 col-12 mb-3">
                <label for="admin_email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="admin_email" aria-describedby="emailHelp" placeholder="jonDoe@gmail.com">
            </div>
            <div class="col-xl-6 col-12 mb-3">
                <label for="admin_password" class="form-label">Password</label>
                <input type="password" class="form-control" id="admin_password" placeholder="must be at least 6 characters in length">
            </div>
            <div class="col-xl-12 col-12 mb-3">
                <label for="neighborhood_name" class="form-label">Neighborhood Name</label>
                <input type="text" class="form-control" id="neighborhood_name" placeholder="Milltown">
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-4 col-12">
                <label for="unit_number" class="form-label">House Number</label>
                <input type="text" class="form-control" id="unit_number" placeholder="5214">
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-8 col-12">
                <label for="unit_name" class="form-label">Street Name</label>
                <input type="text" class="form-control" id="unit_name" placeholder="150th Street">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-12 mb-3">
                <label for="neighborhood_city" class="form-label">City</label>
                <input type="text" class="form-control" id="neighborhood_city" placeholder="Luck">
            </div>
            <div class="col-xl-4 col-lg-2 col-md-2 col-12 mb-3">
                <label for="neighborhood_state" class="form-label">State</label>
                <input type="text" class="form-control" id="neighborhood_state" placeholder="WI">
            </div>
            <div class="col-xl-4 col-lg-5 col-12 col-md-4 mb-3">
                <label for="neighborhood_zip" class="form-label">Zip Code</label>
                <input type="number" class="form-control" id="neighborhood_zip" placeholder="54853">
            </div>
            
            <div class="d-grid gap-2 col-xl-5 col-5 mx-auto mb-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <script src="/js/neighborhoodAdmin.js"></script>