body {
    background-color: #175c4a;
}

header, footer {
    background-color: gray;
    margin: 20;
    box-shadow: 5px 5px 20px rgb(214, 213, 213);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
}
figure {
    background: url('../css/assets/images/neighbors1.jpg') center center fixed;
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-color: #175c4a;
    background-blend-mode: luminosity;
}
main {
    background-color: #f3f1ea;
    margin: 25px;
}
.nav-link:hover {
    color: white;
    background-color: darkgray;
}
#email-login {
    margin-left: 1.7em;
}
#email-signup {
    margin-left: 2em;
}
#password-signup {
    margin-left: 0.2em;
}
.navbar-nav {
    margin: 10px;
}
h2 {
    margin: 10px;
}
#logout {
    background: none;
    border: none;
}
#logout:hover {
    background-color: darkgray;
  
}
#logo {
    position: absolute;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-bottom: 10px;
}
#linkList {
    margin-left: 200px;
}

.social {
    color: #175c4a;
   
}
.social:hover {
    transform: scale(120%);
}

.login-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 1401px) { 
    .myclass {
        visibility: hidden;
    }
 }


@media print {
  .noPrint{
    display:none;
  }
}

#newPost {
    margin: 0 100px 50px 100px;
    padding: 0 20% 0 20%;
}

#creationForms {
    padding: 50px 350px;
}

#neighborForm {
    padding: 50px 350px;
}

.loginBtns {
    text-align: center;
    padding: 20px;
    margin: auto;
}

.loginInputs {
    margin: 20px;
}